* {
    padding: 0;
    margin: 0;
}

 /* body { */
    /* font-family: 'Urbanist', sans-serif; */
/* }  */

.right a {
    text-decoration: none;
    color: white;
    background-color: #007AFF;
    padding: 10px 20px;
    margin-top: 90px;
    display: inline-block;
    font-size: .9em;
    text-transform: uppercase;
    border-radius: 20px;
    transition: .5s;
}

.right a:hover{
    background-color: #8FBCE8;
}

@media screen and (max-width: 1024px) {
    .container1 
    {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .left {
        height: 300px;
        width: 200px;
        position: relative;
        border: 20px solid #8FBCE8;
        margin: 30px;
    }
    
    .img {
        position: absolute;
        top: 20px;
        left: 88px;
        padding: 37px 5px;
        background-color: #fff;
        margin: auto;
        text-align: center;
    }

    @keyframes moveDiv {
        0% {top: -10px;}
        50% {top: 20px;}
        100% {top: -10px;}
      }
    
    
    .img  img {
        width: 150px;
        position: relative;
        left: 20px;
        animation: moveDiv 3s ease-in-out infinite;
    }  
    
    .right {
        margin-top: 20px;
        text-align: center;
    }
    .right span {
        display: inline-block;
        font-size: 2em;
        padding-bottom: 5px;
        margin-bottom: 15px;
        border-bottom: 3px solid #8FBCE8;
    }
    .right p {
        padding: 20px;
        font-size: 1.2em;
    }

    

    /* .right a {
        text-decoration: none;
        color: white;
        background-color: #007AFF;
        padding: 10px 20px;
        margin-top: 90px;
        display: inline-block;
        font-size: .9em;
        text-transform: uppercase;
        border-radius: 20px;
        transition: .5s;
    }

    .right a:hover{
        background-color: #8FBCE8;
    } */
}


@media screen and (min-width: 1025px) {
    .container1 
    {
        width: 90vw;
        height: 100vh;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-around;
    }
    
    .left {
        height: 500px;
        width: 350px;
        position: relative;
        border: 20px solid #8FBCE8;
        margin: 30px;
    }
    
    .img {
        position: absolute;
        top: 30px;
        left: 220px;
        width: 200px;
        height: 400px;
        background-color: #fff;
        margin: auto;
        text-align: center;
    }

    @keyframes moveDiv {
        0% {top: 50px;}
        50% {top: 150px;}
        100% {top: 50px;}
      }
    
    
    .img img {
        width: 200px;
        position: relative;
        left: 20px;
        animation: moveDiv 3s ease-in-out infinite;
        /* top: 102px; */
    }  
    
    .right {
        width: 50%;
        margin-top: 20px;
        text-align: center;
    }
    .right span {
        display: inline-block;
        font-size: 2em;
        padding-bottom: 5px;
        margin-bottom: 15px;
        border-bottom: 3px solid #8FBCE8;
    }
    .right p {
        padding: 60px;
        font-size: 1.2em;
    }

    

    /* .right a {
        text-decoration: none;
        color: white;
        background-color: #007AFF;
        padding: 10px 20px;
        margin-top: 90px;
        display: inline-block;
        font-size: .9em;
        text-transform: uppercase;
        border-radius: 20px;
        transition: .5s;
    }

    .right a:hover{
        background-color: #8FBCE8;
    } */
}


